body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("background.jpeg");
	background-size: 1580px 900px;
}

.container{
    width: 400px;
    height: 400px;
    background-color: darkgoldenrod;
    position: absolute;
    left: 43%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    padding: 20px 0 0 100px;
    border-radius: 50px;
}

input{
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border:5px solid #244624;
    border-radius: 21px ;

}

input:focus{
    outline: none;
}
h2{
    margin-top: 40px;
}
#bar{
	border-bottom: 2px solid white;
	width: 966px;
	height: 150px;
	float: top;
	float: left;
    text-align: center;
    margin-left: 10%;
}
a{
	color: #27d8f4;
	text-align: center;
	font-size: 25pt;
	font-family: calibri;
}